<a href="https://colab.research.google.com/github/Rashikarora/Python-Practical-Exam/blob/main/Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#2.
#(a) Print half the values of tuple in one line and other half in the next line.
t1=(1,2,3,4,5,6,7,8,9,10)
a = t1[:5]
b = t1[5:]
print(a)
print(b)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [21]:
#(b) Print another tuple whose values are even numbers in the given tuple.
t1=(1,2,3,4,5,6,7,8,9,10)
n = list(t1)
m = list()

for x in n :
    if x in n:
        if (x%2 == 0) :
            m.append(x)
    s = tuple(m)
print("Tuple =",s)

Tuple = (2, 4, 6, 8, 10)

In [22]:
#(c) Concatenate a tuple t2 (11,13,15) with t1
t1=(1,2,3,4,5,6,7,8,9,10)
t2=(11,13,15)
a = list(t1)
b = list(t2)
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15]

In [23]:
#(d) Return  maximun and minimum value from this tuple
print("Max number = ",max(t1) )
print("Min number = ",min(t1))

Max number =  10
Min number =  1